<section
  *ngIf="playlist$ | async as playlist"
  id="playlistOverview"
  class="@container flex flex-col gap-2 mt-2"
>
  <div class="rounded-lg h-full flex flex-col gap-2 mt-2 p-2">
    <div class="flex gap-2 justify-between text-white">
      <h2 class="text-blue-200 text-3xl my-2">
        {{ playlist.name }}
      </h2>
      @if (devMode) {
      <pre>{{ playlist.id }}</pre>

      }

      <p>{{ playlist.description }}</p>
      @if (playlist.isPublic) {
      <fa-icon
        icon="lock-open"
        class="flex items-center justify-center aspect-square text-2xl"
      ></fa-icon>

      } @else {
      <fa-icon
        icon="lock"
        class="flex items-center justify-center aspect-square text-2xl"
      ></fa-icon>
      }
    </div>
    @if (!playlist.isFavorite) {
    <div class="flex gap-2 text-white">
      <!-- <button>Play</button> <button>Share</button> -->
      <button (click)="deletePlaylist()">Delete</button>
    </div>

    }

    <div class="overflow-y-auto gap-4 w-full">
      @if (playlist.songs.length > 0) {

      <table class="bg-slate-800 w-full p-4 text-left text-white rounded-lg">
        <tr class="w-full border-b border-white/50 text-white/50 [&>th]:p-2">
          <th class="text-center">#</th>
          <th class="grow">Title</th>
          <th class="flex items-center justify-center">
            <fa-icon icon="clock"></fa-icon>
          </th>
          <th></th>
        </tr>
        @for (song of playlist.songs; track $index) {

        <tr class="w-full [&>td]:p-2">
          <td class="text-center text-white/50">{{ $index }}</td>
          <td>{{ song.title }}</td>
          <td class="text-center">{{ songDurationToMinSec(song.duration) }}</td>
          <td>
            <button
              (click)="removeSongFromPlaylist(song.songId)"
              class="text-white opacity-50 hover:text-rose-400"
            >
              <fa-icon icon="trash"></fa-icon>
            </button>
          </td>
        </tr>
        }
      </table>
      }@else {
      <div class="bg-slate-800 w-full p-4 text-left text-white rounded-lg">
        <p class="text-center font-semibold w-full">
          This playlist has no songs yet?!
        </p>
      </div>
      }
    </div>
  </div>
</section>
