<section
  *ngIf="playlist$ | async as playlist"
  id="playlistOverview"
  class="@container flex flex-col gap-2 mt-2"
>
  <div class="bg-slate-800 rounded-lg h-full flex flex-col gap-2 mt-2 p-2">
    <div class="flex gap-2 justify-between text-white">
      <h2 class="text-blue-200 text-3xl my-2">
        {{ playlist.name }}
      </h2>

      <p>{{ playlist.description }}</p>
      @if (playlist.isPublic) {
      <fa-icon
        icon="lock-open"
        class="flex items-center justify-center aspect-square text-2xl"
      ></fa-icon>

      } @else {
      <fa-icon
        icon="lock"
        class="flex items-center justify-center aspect-square text-2xl"
      ></fa-icon>
      }
    </div>
    <div class="flex gap-2 text-white">
      <button>Play</button> <button>Share</button>
      <button (click)="deletePlaylist()">Delete</button>
    </div>

    <div
      class="grid gap-4 w-full grid-cols-1 @sm:grid-cols-2 @md:grid-cols-2 @lg:grid-cols-3 @xl:grid-cols-3 @2xl:grid-cols-4 @3xl:grid-cols-4 @4xl:grid-cols-5"
    >
      <!--       <app-song-card
          *ngFor="let song of songs$ | async"
          [song]="song"
        ></app-song-card> -->
    </div>
  </div>
</section>
