.onImageContainer:before,
.onImageContainer:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0px;
  height: 1rem;
  width: 1rem;
  /*box-shadow: 0 0 0 2px red;*/
  /*border-radius:0 0 0.5em 0;*/
  /*border-radius: 0 0 0 -0.5em;*/
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 1rem,
    #1e293b calc(1rem)
  );
}
.onImageContainer:before {
  left: -1rem;
  top: calc(40px - 1rem);
  rotate: 180deg;
}

.onImageContainer:after {
  right: 0;
  top: -1rem;
  rotate: 180deg;
  /*border-radius: 0 0 0 0.5em;*/
  /*border-radius:0 0 0.5em 0;*/
}

.heart-button:has(.heart-pop) {
  animation: heartPop 500ms ease-in-out, wiggle 700ms ease-in-out;
  transition: scale 250ms;
}

// .heartButton * {
//   color: red;
//   transition: color 350ms, transform 250ms;
// }

@keyframes heartPop {
  0%,
  100% {
    scale: 1;
  }
  70% {
    scale: 2;
  }
}
// @keyframes wiggle {
//   0%,
//   100% {
//     rotate: 0deg;
//   }
//   5%,
//   25%,
//   45%,
//   65%,
//   85% {
//     rotate: 10deg;
//   }
//   15%,
//   35%,
//   55%,
//   75%,
//   95% {
//     rotate: -10deg;
//   }
// }
