#sidebar {
  height: calc(100vh - 56px);
  max-width: 0;

  &:not(.collapsed) {
    max-width: 30vw;
    min-width: 14rem;
  }
}

#playlistContainer {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}
