<nav class="w-full bg-neutral-800 text-neutral-400">
  <div class="container mx-auto flex justify-between items-center py-4">
    <h2 class="text-xl font-bold">EDE-Project</h2>
    <div>
      <div
        id="g_id_onload"
        data-client_id="466655062537-ocs19qdjbpdkupnpi0ff86lq3gofngis.apps.googleusercontent.com"
        data-context="use"
        data-ux_mode="popup"
        data-login_uri="http://localhost:4200"
        data-auto_prompt="false"
        data-callback="handleCredentialResponse"
      ></div>
      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="signin"
        data-size="large"
        data-logo_alignment="left"
      ></div>
    </div>
  </div>
</nav>
