<section class="bg-slate-900 w-full">
  <!-- @container -->
  <h2 class="text-blue-200 text-3xl mt-10 mb-7 mx-2">
    Good afternoon {{ (userService.user$ | async).username }}
  </h2>

  @if (playlists$ | async ) {
  <article>
    <h2 class="text-blue-200 text-3xl mt-10 mb-7 mx-2">Popular</h2>
    <!-- 
    <div
      class="overflow-hidden grid gap-4 w-full grid-cols-1 @sm:grid-cols-2 @md:grid-cols-2 @lg:grid-cols-3 @xl:grid-cols-3 @2xl:grid-cols-4 @3xl:grid-cols-4 @4xl:grid-cols-5"
    > -->
    <div
      class="overflow-hidden grid gap-4 w-full md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-5"
      [class]="sidebarService.collapsed ? 'grid-cols-2' : 'grid-cols-1'"
    >
      @for (song of popularSongs$ | async; track $index) {

      <app-song-card
        [playlists]="playlists$ | async"
        [favoritesPlaylist]="favoritesPlaylist$ | async"
        [song]="song"
      >
      </app-song-card>
      }
    </div>
  </article>
  <article>
    <h2 class="text-blue-200 text-3xl mt-10 mb-7 mx-2">
      Based on your recent listening
    </h2>

    <div
      class="overflow-hidden grid gap-4 w-full md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-5"
      [class]="sidebarService.collapsed ? 'grid-cols-2' : 'grid-cols-1'"
    >
      @for (song of popularSongs$ | async; track $index) {

      <app-song-card
        [playlists]="playlists$ | async"
        [favoritesPlaylist]="favoritesPlaylist$ | async"
        [song]="song"
      ></app-song-card
      >}
    </div>
  </article>
  <article>
    <h2 class="text-blue-200 text-3xl mt-10 mb-7 mx-2">Happy songs</h2>
    <div
      class="overflow-hidden grid gap-4 w-full md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-5"
      [class]="sidebarService.collapsed ? 'grid-cols-2' : 'grid-cols-1'"
    >
      @for (song of popularSongs$ | async; track $index) {

      <app-song-card
        [playlists]="playlists$ | async"
        [favoritesPlaylist]="favoritesPlaylist$ | async"
        [song]="song"
      ></app-song-card>
      }
    </div>
  </article>
  } @else {
  <h2 class="text-blue-200 text-xl mt-10 mb-7 mx-2">Loading...</h2>

  }
</section>
