<nav class="flex w-full bg-neutral-800 text-neutral-400 h-14 fixed z-50 top-0">
  <div class="container mx-auto flex justify-between items-center h-full">
    <h2 class="text-xl font-bold">EDE-Project</h2>
    <div *ngIf="devMode" class="opacity-50">
      <p class="text-center font-bold hidden sm:block md:hidden">SM (640px+)</p>
      <p class="text-center font-bold hidden md:block lg:hidden">MD (768px+)</p>
      <p class="text-center font-bold hidden lg:block xl:hidden">
        LG (1024px+)
      </p>
      <p class="text-center font-bold hidden xl:block 2xl:hidden">
        XL (1280px+)
      </p>
      <p class="text-center font-bold hidden 2xl:block">2XL (1536px+)</p>
    </div>
    <div
      *ngIf="isAuthenticated; else loginButton"
      class="flex gap-4 h-full py-2 items-center"
    >
      <!-- Your authenticated content goes here -->
      <img
        class="h-full aspect-square rounded-full"
        [src]="user.picture"
        [alt]="user.name + '\'s profile picture'"
      />

      <p>Welcome {{ user.name }}</p>
      <p>{{ user.email }}</p>
      <button (click)="logout()">Logout</button>
    </div>
    <ng-template #loginButton>
      <button (click)="login()">Login</button>
    </ng-template>
  </div>
</nav>
